<html>

<head>
    <title>Form</title>
</head>

<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message[1] }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <form action="" method="post">
        {{ form.csrf }}
        <div class="input text">{{ form.name.label }} {{ form.name }}</div>
        <div class="input text">{{ form.favorite_color.label }} {{ form.favorite_color }}</div>
        <div class="input text">{{ form.pet.label }} {{ form.pet }}</div>
        <div class="input submit">
        <input type="submit" value="Submit"></div>
    </form>

    <div>
        {% print(all_preferences) %}
    </div>

</body>

</html>